---
Title: Cake.Yeoman
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        The Yeoman Addin for <a href="http://cakebuild.net/" target="_blank">Cake</a> allows you to run <a href="http://yeoman.io/" target="_blank">Yeoman</a> generators from Cake build scripts.
    </p>
</div>